sudo: required

language: perl

perl:
    - "5.26"
    - "5.24"
    - "5.22"
    - "5.20"
    - "5.18"
    - "5.16"
    - "5.14"
    - "5.10"

install:
    - sudo aptitude -y install xvfb
    - git submodule update --init
    - xvfb-run cpanm --installdeps . || { cat ~/.cpanm/build.log ; false ; }

script:
    - RELEASE_TESTING=1 AUTHOR_TESTING=1 xvfb-run make test
